<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key>              <string>djsync</string>
  <key>CFBundleDisplayName</key>       <string>djsync</string>
  <key>CFBundleIdentifier</key>        <string>com.brianjbishop.djsync</string>
  <key>CFBundleVersion</key>           <string>0.1.0</string>
  <key>CFBundleShortVersionString</key><string>0.1.0</string>
  <key>CFBundlePackageType</key>       <string>APPL</string>
  <key>CFBundleExecutable</key>        <string>djsync</string>
  <key>CFBundleIconFile</key>          <string>djsync</string>
  <key>NSHighResolutionCapable</key>   <true/>
</dict>
</plist>
